.wp-block-boomdevs-text-box {
	&.text-box-align-left {
		text-align: left;
	}

	&.text-box-align-center {
		text-align: center;
	}

	&.text-box-align-right {
		text-align: right;
	}
	// all font weight
	// &.text-box-font-weight-100 {
	// 	font-weight: 100;
	// }
	// &.text-box-font-weight-200 {
	// 	font-weight: 200;
	// }
	// &.text-box-font-weight-300 {
	// 	font-weight: 300;
	// }
	// &.text-box-font-weight-400 {
	// 	font-weight: 400;
	// }
	// &.text-box-font-weight-500 {
	// 	font-weight: 500;
	// }
	// &.text-box-font-weight-600 {
	// 	font-weight: 600;
	// }
	// &.text-box-font-weight-700 {
	// 	font-weight: 700;
	// }
	// &.text-box-font-weight-800 {
	// 	font-weight: 800;
	// }
	// &.text-box-font-weight-900 {
	// 	font-weight: 900;
	// }
}
